doctype html
html
    head
        title What's for lunch?
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/main.css")
    body
        .container#container
            .heading
                h1 So, what's for lunch today?
                .selectContainer
                    label(for="location") Location
                    select#location(name="location")
            .listContainer#lunchList
            .inputContainer
                button#button.btnSubmit(name="submit") 
                    span Decide for me!
        .loader
        script(src="//www.gstatic.com/firebasejs/3.2.1/firebase.js")
        script(type="text/javascript" src="js/lodash.js")
        script(type="text/javascript" src="js/main.js")
        script(type="text/javascript").
            var settings = {
                    allowAudio  : true,
                    randomise   : true,
                    defaultLocation: "richmond"
                },
                lunchTime = new LunchTime(settings);
                