doctype html
html
	head
		title What's for lunch?
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/main.css")
	body
		.container#container
			#debug
			#lunchList
			.input-container
				button#button(name="submit") Submit
				button#replay(name="replay") Pick again
		//-script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		//-script(type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.0/firebase.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript").
			var settings = {
					allowAudio:true
				},
				lunchTime = new LunchTime(settings);
