doctype html
html
	head
		title What's for lunch?
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/main.css")
	body
		.container#container
			.heading
				h1 What's for lunch today?
			.listContainer#lunchList
			.inputContainer
				button#button.btnSubmit(name="submit") 
					span Decide for me!
		.loader
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript").
			var settings = {
					items 		: ["Centro Food Court", "Kebab Joint", "Corlam Kitchen", "Pi Cafe", "Kmart Cafe","Free Burma Cafe","McDonalds","Ikea Food Court", "Subway","Fish & Chips"],
					allowAudio	:true
				},
				lunchTime = new LunchTime(settings);
