//Imports
@import url("//fonts.googleapis.com/css?family=Oswald");
@import "compass";
@import "compass/reset";
@import "mixin";
@import "animation";

//Variables
$fnt-family				: "Oswald", sans-serif;

$primary-clr			: #6699FF;
$secondary-clr			: #104386;
$white-clr				: #ffffff;
$black-clr				: #000000;

$item-borderColor 		: #E1D4C0;
$item-bgColor 			: $primary-clr;
$item-bgColor--selected	: $secondary-clr;

$fnt-clr				: #FF6600;
$fnt-clr--selected		: #F5EDE3;

$fnt-heading			: #FF6600;

$bg-clr 				: #F5EDE3;



//General
html, body{
	font-family:$fnt-family;
	font-size: 16px;
	color:$fnt-clr;
}
body{
	background:$bg-clr;
}

button{
	display:inline-block;
	border:1px solid darken($bg-clr,35%);
	font-size:1.5rem;
	cursor:pointer;
	font-family:$fnt-family;
	background-color:darken($bg-clr,25%);
	color:$black-clr;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: inset 0 -4px darken($bg-clr,35%);
  	box-shadow: inset 0 -4px darken($bg-clr,35%);
	@include transitions(all 0.3s);
	&:active{
		-webkit-box-shadow: inset 0 -1px darken($bg-clr,35%);
  		box-shadow: inset 0 -1px darken($bg-clr,35%);
		-webkit-transform: translate(0, 3px);
  		transform: translate(0, 3px);
	}

	&[disabled]{
		opacity:0.5;
		cursor: default;
		-webkit-box-shadow: inset 0 -4px darken($bg-clr,25%);
  		box-shadow: inset 0 -4px darken($bg-clr,25%);
		&:active{
			-webkit-transform: translate(0, 0);
  			transform: translate(0, 0);
		}
	}

	span{
		padding:12px 16px;
		display:block;
	}
}

h1{
	font-size:48px;
	font-size:8vw;
	color:$fnt-heading;
	text-align:center;
}

.inputContainer{
	text-align:center;
	padding:5vh 5vw;
}
.heading{
	padding:20px 0;
}



.listContainer{
	ul{
		text-align:center;
		font-size:3vw;
		position:relative;
	}
	.item{
		display:inline-block;
		width:50%;
		@include mediaquery(md){
			width:33.3333333%;
		}
		@include mediaquery(lg){
			width:25%;
		}
		&.selected{
			span{
				background-color:$item-bgColor--selected;
				color:$fnt-clr--selected;
			}
		}
		span{
			display: block;
			background-color:$item-bgColor;
			color:$secondary-clr;
			border:1px solid $item-borderColor;
			padding:4vh 0;
			@include transitions ((background-color 0.3s , padding 0.3s));
			@include mediaquery(md){
				padding:6vh 0;
			}
		}
	}
}

//Loader
.loader{
	display:none;
	background:rgba($white-clr,0.5);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	&:before{
		content:"";
		position:absolute;
		left:50%;
		top:50%;
		width:2rem;
		height:2rem;
		border:4px solid lighten($fnt-heading,15%);
		border-top-color: $fnt-heading;
		-webkit-border-radius:100%;
		border-radius:100%;
		//-webkit-transform:translate(-50%,-50%);
		//transform:translate(-50%,-50%);
		-webkit-animation: animate-loader 1s infinite ease-out;
		animation: animate-loader 1s infinite ease-out;
	}
}


//Modes
.outcome{
	.listContainer{
		.selected{
			span{
				background-color:$fnt-heading;
			}
		}
	}
}

.disabled{
	.inputContainer{
		button{
			cursor: wait;
		}
	}
}

.loading{
	overflow:hidden;
	.loader{
		display:block;
	}
}